.cardsa{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 10%;
}

.grady{
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(from 90deg,  yellow, green);
    
}